.row{
    color: #fff;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
    margin-top: 3rem;
}

.posters{
    display: flex;
    overflow-y: scroll;
}

.poster{
    max-height: 130px;
    border-radius: 5px;
    margin-right: .5rem;
}

.posters::-webkit-scrollbar{
        display: none;
}

.pop-up{
    top: -40px;
    margin-left: -60px;
    background-color: rgb(45, 43, 43);
    border-radius: 5px;
}

.pop-img{
    width: 350px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.description button{
    padding: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
    border-radius: 50%;
}

.icons-black{
    background-color: rgb(35, 35, 35);
    border: 1px solid #fff;
    color: #fff;
}