.logo{
    width: 7rem;
}

header{
    height: 68px;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

ul{
    margin: 0 !important;
    padding: 1rem !important;
    list-style: none;
}

.links li{
    margin-left: 1rem;
}